.table-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 20% 0 10%;
    align-items: center;
}

.table-text{
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    display: flex;
}