.table-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 20% 0 10%;
    align-items: center;
}

.table-text{
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    display: flex;
}

.classroom-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    align-items: center;
    box-shadow: 0px 5px 21px 0px #FF990033;
    height: 80%;
    font-size: 2rem;
    font-weight: 700;
    color: #FF9900
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #C19D72;
    padding-left: 50px
}

.add-class-btn{
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
}