.home-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background-image: url("../../assets/images/HomePageBackground.png");*/
  /*background-size: cover;*/
}

.home-section1 h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  color: #ff9900;
  margin-bottom: 45px;
}

.home-section1 {
  height: 900px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  background: #fff7ea;
  padding: 60px;
}

.home-section3 {
  height: 700px;
  display: flex;
  background: #fff;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.home-section4 {
  height: 150px;
  display: flex;
  background: #fff7ea;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.three-icons {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.home-p1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0;
  text-align: center;
  width: 900px;
  margin-bottom: 42px;
}

.home-p2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  width: 250px;
}

.icon-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.ft-30 {
  color: #ff9900;
  font-size: 30px;
}

.about-us > div {
  width: 300px;
  margin-bottom: 40px;
}

.contact-form-container {
  background: #fff7ea;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 500px;
  margin-top: 10px;
}

.contact-form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 50px;
}

.mb-1 {
  margin-bottom: 1rem;
}

/* For mobile devices */
@media screen and (max-width: 768px) {
  .home-section1 h1 {
    font-size: 28px; /* Decrease font size for headings */
    margin: 50px 30px 20px;
  }

  .home-section1 {
    height: auto; /* Remove fixed height */
  }

  .home-section2 {
    padding: 40px 20px; /* Decrease padding for smaller screens */
    margin-top: 70px;
  }

  .home-section3 {
    display: grid;
    padding: 30px 30px;
    color: #563400;
  }

  .home-section4 {
    margin-top: 19em;
  }

  .home-p1 {
    font-size: 20px; /* Decrease font size for paragraph text */
    line-height: 36px; /* Increase line height for better readability */
    width: 82%; /* Adjust width to fit smaller screens */
    margin-bottom: 50px; /* Decrease margin for smaller screens */
    color: #563400;
  }

  .home-p2 {
    font-size: 18px; /* Decrease font size for paragraph text */
    line-height: 30px; /* Increase line height for better readability */
    width: 100%; /* Adjust width to fit smaller screens */
    margin-bottom: 30px; /* Decrease margin for smaller screens */
    color: #563400;
  }

  .three-icons {
    display: grid;
  }

  .about-us > div {
    width: 100%; /* Adjust width to fit smaller screens */
    margin-bottom: 30px; /* Decrease margin for smaller screens */
  }

  .contact-form-container {
    width: 100%; /* Adjust width to fit smaller screens */
    height: auto; /* Remove fixed height */
    padding: 20px; /* Decrease padding for smaller screens */
    margin-top: 20px; /* Decrease margin for smaller screens */
  }

  .contact-form-container .form > div {
    margin-top: 10px; /* Decrease margin for smaller screens */
    margin-bottom: 10px; /* Decrease margin for smaller screens */
  }

  .mb-30 {
    margin-bottom: 30px; /* Decrease margin for smaller screens */
    font-size: 28px;
    font-weight: bold;
    color: #ff9900;
  }

  .ft-30 {
    font-size: 22px;
    font-weight: bold;
  }

  .Get-Start-Button {
    padding: 1.2rem!important;
    font-size: 1.2rem!important;
  }
}
