.learn-container{
    padding: 60px;
    margin: 20px 5% 30% 5%;
}

.learn-container a{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    
    .learn-container{
        padding: 10%
    }

    .p1{
        line-height:125% !important;
        max-width: 80%;
    }

    


}