@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

.mr-5{
   margin-right: 5px;
}

.gap1{
    gap: 1rem;
}

.width-70{
    width: 70%;
}

.view-50{
    width: 50vw;
}

.pl-65{
    padding-left: 65px;
}

.gap-3px{
    grid-gap: 10px;
}

.gap-1{
    gap: 1rem;
}

.theme-text{
    color: #FF9900;
}

.cool-bg{
    /*background-image: url("./assets/images/HomePageBackground.png");*/
    /*background-size: cover;*/
}


.intro{
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    width: 50%;
}

.main-intro-container{
    padding: 15% 0 20% 0 !important;
    text-align: center;
}

.good{
    color: #1bc25b !important;
}

.bad{
    color: red !important;
    font-weight: bold;
}


