@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

.mr-5{
   margin-right: 5px;
}

.gap1{
    gap: 1rem;
}


.mt-5{
    margin-top: 5px;
}
.pl-65{
    padding-left: 65px;
}

.theme-text{
    color: #FF9900;
}

.spc-btwn{
    justify-content: space-between;
}

.cool-bg{
    background-image: url("./assets/images/HomePageBackground.png");
}

.main-text{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #ff9900;
}

.intro{
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    width: 50%;
}

.main-intro-container{
    padding: 15% 0 20% 0 !important;
    text-align: center;
}
