@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

.mr-5{
   margin-right: 5px;
}

.mt-5{
    margin-top: 5px;
}
.pl-65{
    padding-left: 65px;
}

.theme-text{
    color: #FF9900;
}

.spc-btwn{
    justify-content: space-between;
}